<div class="text-white" id="sidebar-wrapper" style="background: #262930;">
    <div class="sidebar-heading text-center py-4 fs-4 fw-bold"></div>
    <div class="list-group list-group-flush">
        <a href="{% url 'admin_dashboard' %}" class="list-group-item list-group-item-action  text-white">Dashboard</a>
        <a href="{% url 'match_squad' %}" class="list-group-item list-group-item-action  text-white">Add
            Match Squad</a>
        <a href="{% url 'scorecard_entry' %}" class="list-group-item list-group-item-action text-white">Scorecard Entry</a>
        <a href="/admin_api" class="list-group-item list-group-item-action text-white">Settings</a>
    </div>
</div>